.fil-dactu {
    padding: 4%;
    /* border: 1px solid black; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    
}

.back-color {
    background-color: #F2EADF;
}

.nuage {
    height: 10%;
    width: 10%;
}

.bandeau {
    list-style: none;
    display: flex;
}

.bandeau li {
    margin-right: 40px;
}

.post-border-test {
    border: 1px solid #000;
    border-radius: 10 px;
    padding: 20px;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-text {
    font-size: 18px;
    margin-bottom: 10px;
}

div[data-grid] {
    border: 1px solid black;
    margin-left: 5%;
    padding: auto;
    border-radius: 5%;
}

.post-border {
    margin-left: 10%;
    margin-right: 10%;
}

.post:hover{
    /* height: 175%;
    width: 30vw;
    border-radius: 20px ;
    border: #602A0F solid 1px;
    background-color:  white; 
    color: black;
    font-size: 20px; */
    cursor: pointer;
}

.post-com{
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    /* margin-top: 10%; */
    /* margin: 10%; */
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5%;
}


.post-com-com {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10%;
    margin-top: 0.5%;
}

.post-com-margin {
    margin-left: 10%;
    margin-right: 10%;
}

.button-filtres {
    height: 15%;
    width: 15%;
    border-radius: 10px ;
    /* background-color:  #602A0F;  */
    background-color:#F2EADF;
    color: black;
    font-size: 100%;
    cursor: pointer;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Courier New, sans-serif;
    text-align: center;
}

.filtres {
    font-size: 18px;
    color: #602A0F;
    font-family: Courier New, sans-serif;
    text-align: center;
    margin-left: 5%;
}