.fil-dactu {
    padding: 4%;
    /* border: 1px solid black; */
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    
}

.back-color {
    background-color: #F2EADF;
}

.nuage_1 {
    height: 100%;
    width: 70%;
    top: -100%;
    position: relative;
}

.nuage_2 {
    height: 100%;
    width: 70%;
    top: 100%;
    position: relative;
}

.bandeau {
    list-style: none;
    display: flex;
}

.bandeau li {
    margin-right: 40px;
}

.post-info {
    display: flex;
    justify-content: space-between;
 }

.post-title {
    font-size: 24px;
    margin-bottom: 2%;
    /* font-family: Courier New, sans-serif; */
    color: #602A0F;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post-type {
    font-size: 70%;
    font-family: Courier New, sans-serif;
    font-style: italic;
    color: grey;
}

.post-user {
    font-size: 90%;
    color: rgb(67, 123, 145);
}

.post-user:hover {
    color: #000;
}

.post-text {
    font-size: 18px;
    /* margin-bottom: 1%; */
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-date {
    font-size: 70%;
    font-family: Courier New, sans-serif;
    font-style: italic;
    color: black;
    margin: 0 !important;
}

div[data-grid] {
    border: 1px solid black;
    margin-left: 5%;
    padding: auto;
    border-radius: 5%;
}

.post-border {
    margin-left: 0%;
    margin-right: 0%;
    border: none !important;
    cursor: pointer;
}

.img-wrapper {
    position: relative;
}

.img-test {
    width: 90%;
    height: 90%;
}

.heart-icon {
    color: black;
    cursor: pointer;
}

.heart-icon.liked {
    color: red;
}

.likes-count {
    position: absolute;
    bottom: 0;
    left: 0;
    /* color: white; */
    /* background-color: rgba(0,0,0,0.5); */
}

.post-news {
    border: none !important;
}

.post:hover{
    /* height: 175%;
    width: 30vw;
    border-radius: 20px ;
    border: #602A0F solid 1px;
    background-color:  white; 
    color: black;
    font-size: 20px; */
    cursor: pointer;
}

.post-avec-com {
    display: flex;
    justify-content: space-between;
}



.post-com{
    padding-top: 100px; 
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-top: 10%;
    margin: 10%;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5%; */
    width: 50%;
}

.comments-container {
    width: 50%;
    padding-top: 110px ;
}


.post-com-com {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
    /* border-radius: 10%; */
    margin-top: 1%;
    cursor: pointer;
}

.post-com-margin {
    margin-left: 10%;
    margin-right: 10%;
}

.post-text-com {
    margin-left: 2%;
}

.post-info-com {
    display: flex;
    /* justify-content: space-around; */
 }

.post-com-date {
    font-size: 90%;
    /* font-family: Courier New, sans-serif; */
    color: black;
    margin-left: 5%;
}

.button-filtres {
    /* height: 15%;
    width: 15%;
    border-radius: 10px ;
    background-color:  #602A0F; 
    background-color:#F2EADF;
    color: black;
    font-size: 100%;
    cursor: pointer;
    padding: 1%;
    font-family: Courier New, sans-serif;
    text-align: center; */
    background-color: transparent;
    color: #8B4513;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: color 0.3s ease;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}


.button-filtres:hover {
    color: #602A0F;
    font-weight: bold;
   }

.filtres {
    font-size: 18px;
    color: #602A0F;
    font-family: Courier New, sans-serif;
    text-align: center;
    margin-left: 5%;
}

.fil_dal {
    font-size: 20px;
    color: #602A0F;
    font-family: Courier New, sans-serif;
    text-align: center;
    /* margin-left: 50%;
    margin-right: 50%; */
    white-space: nowrap;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }

.button-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}
   
.button-underline {
    position: absolute;
    /* bottom: 0; */
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #602A0F;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
   
.button-wrapper:hover .button-underline {
    transform: scaleX(1);
}
.layout > div {
   margin-left: 2% !important;
   margin-right: 2% !important;
}

.hidden {
    display: none;
}

.ajout-com {
    background-color: transparent;
    color: #8B4513;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: color 0.3s ease;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.ajout-com:hover {
    color: #602A0F;
    font-weight: bold;
}

.submit {
    background-color: transparent;
    color: #8B4513;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: color 0.3s ease;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.submit:hover {
    color: #602A0F;
    font-weight: bold; 
}

.button-ajout-com-close {
    background-color: transparent;
    color: #8B4513;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: color 0.3s ease;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.button-ajout-com-close:hover {
    color: #602A0F;
    font-weight: bold;
}

