.cont-Main{
    width: 100vw;
    height: 100vh;
    background-color: #F2EADF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: 100%;
    flex: 0.5;
    background-color: #F2EADF;
    display: flex;
    flex-direction: row;
}

.content{
    width: 100%;
    height: 100%;
    flex: 2;
    background: #AE845C;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-main{
    width: 100%;
    height: 100%;
    flex: 0.5;
    background-color: #F2EADF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Courier New, sans-serif;
    font-size: 18px;
    color: #602A0F;
}

.logo-nav {
    width: 200px;
    height: 80px;
    margin: 0 10px ;
    object-fit: cover; /* this property ensures that the entire image is shown within the div */
}

.navbar-main{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.search-login{
    flex: 1;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.btn-login{
    width: 200px;
    background-color: #602A0F;
    border-radius: 15px;
    color: #eee;
    border: #602A0F solid ;
    font-size: 18px;
}

.btn-login:hover{
    width: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    color: black;
    border: #602A0F solid 1px ;
    font-size: 18px;
}

.navItems{
    flex: 1;
}

.navList {
    list-style: none;
    margin: 0;
    display: flex; 
    justify-content: space-around;
}

.navItems {
    flex: 1;
}

.navlist {
    list-style-type: none;
    margin-right: 300px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.item {
    text-decoration: none;
    color: black;
}

.current{
    color: #602A0F;
    text-decoration: underline;
    font-weight: 500;
}

.cont-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.cont{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.logo-Cont{
    width: 400px;
    height: 150px;
    margin-top: 20px;
}

.title-logo{
    color: #602A0F;
    font-size: 20px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.text-logo{
    color: #ffffff;
    font-size: 30px;
    width: 500px;
    text-align: center;
}

.btn-main{
    width: 200px;
    background-color: #602A0F;
    border-radius: 15px;
    color: #eee;
    border: #602A0F solid ;
    font-size: 18px;
    height: 40PX;
}

.Img-Cont{
    width: 282px;
    height: 215px;
}

.moza-cont{
    margin-left: 92px;
}

.btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}