.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  
  .index .div-2 {
    background-color: #ffffff;
    height: 1080px;
    overflow: hidden;
    position: relative;
    /*width: 1920px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
  }
  
  .index .overlap-group {
    height: 1072px;
    left: -4px;
    position: absolute;
    top: 0;
    /*width: 914px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
  }
  
  .index .rectangle {
    background-color: #f2eadf;
    height: 1068px;
    left: 2px;
    position: absolute;
    top: 2px;
    transform: rotate(0.2deg);
    width: 910px;
  }
  
  .index .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 112px;
    left: 157px;
    position: absolute;
    top: 694px;
    width: 602px;
  }
  
  .index .text {
    align-self: stretch;
    color: #000000;
    font-family: "Work Sans", Helvetica;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 40.8px;
    position: relative;
    text-align: center;
  }
  
  .index .text-wrapper-4 {
    color: #000000;
    font-family: "Work Sans", Helvetica;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 40.8px;
  }
  
  .index .divider-instance {
    left: 137px !important;
    position: absolute !important;
    top: 500px !important;
    width: 640px !important;
  }
  
  .index .design-component-instance-node {
    font-size: 22px !important;
  }
  
  .index .button {
    all: unset;
    background-color: #663901;
    border: 1px solid;
    border-radius: 40px;
    box-sizing: border-box;
    height: 64px;
    left: 137px;
    overflow: hidden;
    position: absolute;
    top: 558px;
    width: 640px;
  }
  
  .index .frame {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 193px;
    position: relative;
    top: 6px;
  }
  
  .index .sign-up {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1;
    line-height:0cm;
    margin-top: -1px;
    position:relative;
    text-align:center;
    width: fit-content;
  }
  
  .index .untitled {
    height: 299px;
    left: 320px;
    object-fit: cover;
    position: absolute;
    top: 159px;
    width: 289px;
  }
  
  .index .sign-in-wrapper {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    left: 1122px;
    position: absolute;
    top: 159px;
  }
  
  .index .sign-in {
    align-items: flex-start;
    border: 1px solid;
    border-color: #66666680;
    border-radius: 24px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 40px 56px;
    position: relative;
  }
  
  .index .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    position: relative;
  }
  
  .index .SIN-nobg {
    height: 97px;
    object-fit: cover;
    position: relative;
    width: 255px;
  }
  
  .index .text-wrapper-5 {
    color: #333333;
    font-family: "Poppins", Helvetica;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .frame-3 {
    align-items: flex-start;
    /*display: inline-flex;*/
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    display: flex;
    width: 100%;
    flex-grow: 1;
  }
  
  .index .div-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 528px;
  }
  
  .index .frame-4 {
    align-self: stretch;
    height: 27px;
    position: relative;
    width: 100%;
  }
  
  .index .label {
    background: transparent;
    border: none;
    color: #666666;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: -1px;
  }
  
  .index .text-field {
    align-self: stretch;
    border: 1px solid;
    border-color: #66666659;
    border-radius: 12px;
    height: 56px;
    position: relative;
    width: 100%;
  }
  
  .index .label-2 {
    color: #666666;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }
  
  .index .password-hide-see {
    height: 27px;
    left: 446px;
    position: absolute;
    top: 0;
    width: 75px;
  }
  
  .index .icon {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 3px !important;
    width: 24px !important;
  }
  
  .index .text-wrapper-6 {
    color: #666666cc;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
  }
  
  .index .frame-5 {
    align-items: center;
    /*display: inline-flex;*/
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    flex-grow: 1;
  }
  
  .index .frame-wrapper {
    all: unset;
    background-color: #663901;
    border-radius: 40px;
    box-sizing: border-box;
    height: 64px;
    opacity: 0.25;
    overflow: hidden;
    position: relative;
    width: 528px;
  }
  
  .index .sign-up-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 237px;
    position: relative;
    top: 3px;
  }
  
  .index .sign-up-2 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .link-text-instance {
    flex: 0 0 auto !important;
  }
  
  .index .frame-6 {
    height: 24px;
    position: relative;
    /*width: 528px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
  }
  
  .index .text-wrapper-7 {
    color: #111111;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 354px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    text-decoration: underline;
    top: 13px;
  }
  
  .index .p {
    color: #111111;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    text-decoration: underline;
    top: -1px;
  }
  