.add_post_main {
    padding-top: 110px;
    background-color: #FAF6F1;
}

.addPostTitle {
 width: 100%;
 height: 100%;
 display: flex;
 margin-left: 0;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: Courier New, sans-serif;
 color: #602A0F;
 font-size: 40px;
}

.content-AddPost {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;

}

  
  .tabsPost button {
    background-color: #FAF6F1;
    border: none;
    color: #602A0F;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
  }
  
  .tabsPost button.active {
    color: #8B4513;
  }
  
  .tabsPost button.active::before {
    content: '';
    position: absolute;
    top: 0; /* Set to 0 to place the underline above */
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the underline */
    background-color: #8B4513; /* Color of the underline */
  }

.formPost{
    appearance: none;
    align-items: left ;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #602A0F; /* Couleur de bordure personnalisée */
    border-radius: 12px;
    color: #602A0F; /* Couleur du texte personnalisée */
    cursor: pointer;
    margin-bottom: 10px; /* Ajoutez une marge entre chaque élément du formulaire */
  }
.fixed-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAF6F1;
}
.SubmitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80%;
}
  .submitButton {
    height: 50px;
    width: 50%;
    border-radius: 20px;
    background-color: #602A0F;
    font-size: 20px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #FAF6F1;
    color: black;
    border: #602A0F solid 1px;
  }
   

  