.cont-Main{
    width: 100vw;
    height: 100vh;
    background-color: #F2EADF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: 100%;
    flex: 0.5;
    background-color: #F2EADF;
    display: flex;
    flex-direction: row;
}

.content-about{
    width: 100%;
    height: 100%;
    flex: 2;
    background: #F2EADF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}


.logo-nav {
    width: 200px;
    height: 80px;
    margin: 0 10px ;
    object-fit: cover; /* this property ensures that the entire image is shown within the div */
}

.navbar-main{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.search-login{
    flex: 1;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.btn-login{
    width: 200px;
    background-color: #602A0F;
    border-radius: 15px;
    color: #eee;
    border: #602A0F solid ;
    font-size: 18px;
}

.btn-login:hover{
    width: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    color: black;
    border: #602A0F solid 1px ;
    font-size: 18px;
}

.navItems{
    flex: 1;
}

.navList {
    list-style: none;
    margin: 0;
    display: flex; 
    justify-content: space-around;
}

.navItems {
    flex: 1;
}

.navlist {
    list-style-type: none;
    margin-right: 300px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.item {
    text-decoration: none;
    color: black;
}

.current{
    color: #602A0F;
    text-decoration: underline;
    font-weight: 500;
}

.footer-main{
    width: 100%;
    height: 100%;
    flex: 0.5;
    background-color: #F2EADF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Courier New, sans-serif;
    color: #602A0F;
}

.block-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.block-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Courier New, sans-serif;
    font-size: 21px;
    color: #602A0F;
    text-align: center;
    gap: 20px;
}

.Img-About{
    width: 400px;
    height: 300px;
}