.container-error-page {
  width: 100%;
  height: 100vh;
  background-color: #faf6f1;
  padding-top: 110px; /* Ajoutez une valeur équivalente à la hauteur de la barre de navigation */
}

.error-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#er404 {
  font-size: 100px;
}
#error-button {
  background-color: #602a0f;
  color: #faf6f1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
}

#error-button:hover {
  background-color: #8b4513;
  color: white;
}
