.divider {
    align-items: center;
    display: flex;
    gap: 23px;
    position: relative;
    width: 669px;
  }
  
  .divider .div {
    background-color: #66666640;
    flex: 1;
    flex-grow: 1;
    height: 2px;
    position: relative;
  }
  
  .divider .OR {
    color: #666666;
    font-family: "Avenir-Roman", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  