.cont-Main {
  width: 100%;
  height: 100%;
  background-color: #faf6f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-about {
  width: 100%;
  height: 100%;
  flex: 2;
  background: #faf6f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  padding-top: 90px; /* Ajoutez une valeur équivalente à la hauteur de la barre de navigation */
}

.current {
  color: #602a0f;
  text-decoration: underline;
  font-weight: 500;
}

.footer-main {
  width: 100%;
  height: 100%;
  flex: 0.5;
  background-color: #f2eadf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Courier New, sans-serif;
  color: #602a0f;
}

.block-about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.block-text {
  text-align: center;
  font-family: Courier New, sans-serif;
  font-size: 21px;
  color: #602a0f;
  gap: 20px;
}

.sineat-heading {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #602a0f;
  font-family: Courier New, sans-serif;
  margin-bottom: 10px;
}

.Img-About {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 30px;
}
