.link-text {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    padding: 8px 8px 8px 0px;
    position: relative;
  }
  
  .link-text .by-creating-an {
    color: transparent;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .link-text .text-wrapper {
    color: #333333;
  }
  
  .link-text .span {
    color: #111111;
    text-decoration: underline;
  }
  
  .link-text .text-wrapper-2 {
    color: #666666;
  }
  
  .link-text .text-wrapper-3 {
    color: #666666;
    text-decoration: underline;
  }
  